.admin{
    display: flex;
    margin-top: 60px;
    height: 92vh;
}
.admin-view{
    width: 80%;
    padding: 30px 20px;
    height: 100%;
    overflow: scroll;
    background-color: rgb(255, 255, 255);
}
.td-center{
    text-align: center;
}
.btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
}
.btn-container p{
    font-size: 18px;
    color: rgb(0, 1, 82);
}

@media (max-width:720px) {
    .admin{
        display: flex;
        flex-direction: row;
    }
    .admin-view{
        width: 100%;
    }
}
