.admin{
    display: flex;
    margin-top: 60px;
    height: 92vh;
}
.admin-view{
    width: 80%;
    padding: 30px 20px;
    height: 100%;
    overflow: scroll;
    background-color: rgb(255, 255, 255);
}
@media (max-width:720px) {
    .admin{
        display: flex;
        flex-direction: row;
    }
    .admin-view{
        width: 100%;
    }
}
